.App {
  text-align: center;
  font-family: 'Alice', serif;
}

.headline {
  border:1px green;
  text-decoration: underline;
  font-size: 1.2em;
}


.header-section {
background-color: #f5f5f5;
  margin: 40px;
  padding:10px;
 border:1px green;
 
}

.bg_img{
  background-image:"../images/cactus.jpg";
}
.nav-content {
  display: flex;
  justify-content: flex-end;;
  align-items: left;
}

features-section {
  background-color: #f5f5f5;
  margin: 40px;
  padding:10px;


}

.feature-icons {
   line-height: 40px;
   background-color: #f5f5f5;
   margin: 40px;
   padding:10px;
}

.content {
  margin: 40px;
  padding:10px;
  background-color: #f5f5f5;
}

content1 {
  margin: 60px;
  padding:10px;
  background-color: #f5f5f5;
}

.icons {
  /* line-height: 40px; */

  margin: auto;
 
  padding:20px;


}
.contact_section{
  background-color: #f5f5f5;
  margin: 40px;
  padding: 10px;
  justify-content: center;
 
}

.actions{
justify-content: center;
}

#signUpLink{
  color: #13985e;
  text-decoration: underline;
  margin:15px;
}
#signUpLink :hover{
  color:rgb(143, 161, 26);
  text-decoration: underline;
}

.edit_plant{
  background-color: #f5f5f5;
  margin: 40px;
  padding: 20px;
  height:250px;
}

.cancel_button{
  margin:10px; 
}

.edit-user-form {
  background-color: #f5f5f5;
  margin: 40px;
  padding: 40px;
}

.edit-label{
  margin: 10px;
 }

.edit-input {
  margin: 10px;
}

.sign-up-container {
  margin: 40px;
  padding: 40px;
  height:250px;
}

.sign-up-form {
  margin: 40px;

}

.add-plant-input1{
  margin: 5px;
}



.submit_button{
  margin: 10px;  
}

.plant_container{
  background-color: aliceblue;
}

.sign-up-container {
  background-color: #f5f5f5;
  margin: 40px;
  padding: 40px;
}

.sign-up-input {
  margin: 10px;
  text-align: center;
}

.sign-up-link{
  margin:15px;
  
}

.sign-in-container {
  background-color: #f5f5f5;
  margin: 40px;
  padding: 40px;
}

